{% extends "GrcUserBundle::template_collaborateur.html.twig" %}
 {% block body %}
     {{parent()}} 
 {% endblock %}
     {% block admin %} 
   
        <div>
             <div class="x_panel" style="">
                  <div class="x_title">
                    <h2>liste des reclamations afféctées </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      
                      
                      <li><a data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-square"></i></a>
                      
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    {#<p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p>#}
        <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
           
                <tr>

                    <td>Sujet</td>
                    <td>Etat</td>
                    <td>Utilisateur</td>
                    <td>Affecter à</td>
                    <td>Date de creation</td>
                    <td>Actions</td>
                </tr>
           
            
                {% for reclamation in reclamation %}
                    <tr>
                        <td>{{ reclamation.sujet }}</td>
                        <td>{{ reclamation.etat }}</td>
                        <td>{{ reclamation.utilisateur }}</td>
                        <td>{{ reclamation.creation|date('d/m/Y') }}</td>
                        
                        <td>
                            <ul>
                                <li>
                                    
                                    <a href="{{ path('reclamation_showSujet_affecter', { 'id': reclamation.id }) }}">Afficher</a>
                                </li>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
           
        </table>
                </div>
                </div>
        </div>
                <br><br>

             

{% endblock %}

























