{% extends "GrcUserBundle::template_client.html.twig" %}
 {% block body %}
     {{parent()}} 
 {% endblock %}
     {% block admin %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
  <form action="" method="post" {{form_enctype(Form) }} class="form-horizontal form-label-left">

      <div class="form-group">
          <label class="control-label col-md-3" for="first-name">Sujet:
          </label>
          <div class="col-md-7">
              {{ form_widget(Form.sujet,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-3" for="first-name">Utilisateur:
          </label>
          <div class="col-md-7">
              {{ form_widget(Form.utilisateur, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} } ) }}
          </div>
      </div>
      <div class="form-group">
          <label class="control-label col-md-3" for="first-name">Reclamation:
          </label>
          <div class="col-md-7">
              {{ form_widget(Form.reclamation,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
          </div>
      </div>
      <div class="form-group" style="visibility: hidden">
          <label class="control-label col-md-3" for="first-name">Etat:
          </label>
          <div class="col-md-7">
              {{ form_widget(Form.etat,{ 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success">Ajouter</button>
          </div>
      </div>
   {{ form_rest(Form) }}
  
   
</form>
            </div>
        </div>
    </div>
       </div>
 
    {#<font color="#7CF0F2"  > <a href="{{ path('grc_reclamation_liste') }}">#}
         {##}
           {#Retour#}
           {##}
        {#</a> </font>#}

        {% endblock %}
