
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reclamation client</title>

{#    <!-- Bootstrap -->#}
    <link href="{{asset('bundles/GrcUser/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
{#    <!-- Font Awesome -->#}
    <link href="{{asset('bundles/GrcUser/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
{#    <!-- NProgress -->#}
    <link href="{{asset('bundles/GrcUser/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
{#    <!-- iCheck -->#}
    <link href="{{asset('bundles/GrcUser/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
{#    <!-- Datatables -->#}
    <link href="{{asset('bundles/GrcUser/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/GrcUser/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/GrcUser/vendors/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/GrcUser/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/GrcUser/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
<link href="{{asset('bundles/GrcUser/vendors/animate.css/animate.min.css')}}" rel="stylesheet">
{#    <!-- Custom Theme Style -->#}
    <link href="{{asset('bundles/GrcUser/build/css/custom.min.css')}}" rel="stylesheet">

</head>

<body class="nav-md">
   {% block body %}
      <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Reclamation client</span></a>
            </div>

            <div class="clearfix"></div>

{#            <!-- menu profile quick info -->#}
            <div class="profile">
              <div class="profile_pic">
                <img src="{{asset('bundles/GrcUser/images/img.jpg')}}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{ app.user.username }}</h2>
               
              </div>
            </div>
{#            <!-- /menu profile quick info -->#}

            <br />

{#            <!-- sidebar menu -->#}
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Client</h3>
                <ul class="nav side-menu">
                    <li><a href="{{path('reclamation_ajoutSujet')}}"><i class="fa fa-laptop"></i> Passer reclamation </a></li>
                    <li><a href="{{path('grc_reclamation_liste_client')}}"><i class="fa fa-laptop"></i> Afficher reclamations </a></li>

                 

                </ul>
              </div>
            </div>
{#            <!-- /sidebar menu -->#}

{#            <!-- /menu footer buttons -->#}
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" >
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
{#            <!-- /menu footer buttons -->#}
          </div>
        </div>

{#        <!-- top navigation -->#}
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{asset('bundles/GrcUser/images/img.jpg')}}" alt="">John Doe
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="{{asset('bundles/GrcUser/images/img.jpg')}}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{{asset('bundles/GrcUser/images/img.jpg')}}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{{asset('bundles/GrcUser/images/img.jpg')}}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{{asset('bundles/GrcUser/images/img.jpg')}}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            

           
        
{#        <!-- /page content -->#}
{% block admin %}
{% endblock %}
{#        <!-- footer content -->#}
        {#<footer>
          
        </footer>#}
{#        <!-- /footer content -->#}
      </div>
    </div>
{% endblock %}

{#      <!-- jQuery -->#}
    <script src="{{asset('bundles/GrcUser/vendors/jquery/dist/jquery.min.js')}}"></script>
{#    <!-- Bootstrap -->#}
    <script src="{{asset('bundles/GrcUser/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
{#    <!-- FastClick -->#}
    <script src="{{asset('bundles/GrcUser/vendors/fastclick/lib/fastclick.js')}}"></script>
{#    <!-- NProgress -->#}
    <script src="{{asset('bundles/GrcUser/vendors/nprogress/nprogress.js')}}"></script>
{#    <!-- iCheck -->#}
    <script src="{{asset('bundles/GrcUser/vendors/iCheck/icheck.min.js')}}"></script>
{#    <!-- Datatables -->#}
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/datatables.net-scroller/js/datatables.scroller.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{asset('bundles/GrcUser/vendors/pdfmake/build/vfs_fonts.js')}}"></script>
<script src="{{asset('bundles/GrcUser/vendors/validator/validator.js')}}"></script>
{#    <!-- Custom Theme Scripts -->#}
    <script src="{{asset('bundles/GrcUser/build/js/custom.min.js')}}"></script>
    <script type="text/javascript">
  $('#myModal').on
  ('shown.bs.modal', function () {
  $('#myInput').focus();
});
 // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

      $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
          submit = false;
        }

        if (submit)
          this.submit();

        return false;
      });

    </script>
</body>
</html>
